<div class="container-fluid mt-3 mt-md-5">
  <h3 class="text-center">Training</h3>
  <p><font size="5" style="font-size: 16pt">
    Sifu Hull conducts group lessons at our Kenpo Club in Acton, CA in the evenings.</font></p>
    
    <p><font size="5" style="font-size: 16pt">
    Other training options include privates, semi-privates, and group seminars.  Prices will vary.</font></p>
    
    <p><font size="5" style="font-size: 16pt">
    Appropriate training equipment such as uniforms and protective gear will be required for all students.</font></p>
    <p><br><br>
    </p>
    
    <p><font size="5" style="font-size: 16pt">
    Call (661) 379-SIFU for more training information.</font></p>
    <p><br><br>
    </p>
    
</div>
