<nav class="navbar transparent navbar-inverse navbar-inner navbar-expand-md">
  <div class="navbar-nav mx-auto">
    <div class="nav-item">
      <a class="nav-link" routerLink="/login" alt="Login"><img src="assets/header/header_login.gif" loading="lazy"></a>
    </div>
    <div class="nav-item">
      <a class="nav-link" routerLink="/home" alt="Home"><img src="assets/header/header_home.gif" loading="lazy"></a>
    </div>
    <div class="nav-item">
      <a class="nav-link" routerLink="/history" alt="History"><img src="assets/header/header_history.gif" loading="lazy"></a>
    </div>
    <div class="nav-item">
      <a class="nav-link" routerLink="/faqs" alt="FAQS"><img src="assets/header/header_faqs.gif" loading="lazy"></a>
    </div>
    <div class="nav-item">
      <a class="nav-link" routerLink="/forum" alt="Forum"><img src="assets/header/header_forum.gif" loading="lazy"></a>
    </div>
    <div class="nav-item">
      <a class="nav-link" routerLink="/training" alt="Training"><img src="assets/header/header_training.gif" loading="lazy"></a>
    </div>
    <div class="nav-item">
      <a class="nav-link" routerLink="/curriculum" alt="Curriculum"><img src="assets/header/header_curriculum.gif" loading="lazy"></a>
    </div>
    <div class="nav-item">
      <a class="nav-link" routerLink="/links" alt="Links"><img src="assets/header/header_links.gif" loading="lazy"></a>
    </div>
    <div class="nav-item">
      <a class="nav-link" routerLink="/contactsifu" alt="ContactSifu"><img src="assets/header/header_contactsifu.gif" loading="lazy"></a>
    </div>
  </div>
</nav>