<div class="container-fluid mt-3 mt-md-5">
  <div align="center">

    <table border="0" width="744" height="672">
      <tr>
        <td width="160" height="350">
        
        <p align="left"><a routerLink="/faqs"><img src="assets/images/links/faq.gif" alt="faqs.gif (3313 bytes)" border="0" width="194" height="29"></a></p>
    
       <p align="left"><a routerLink="/history"><img src="assets/images/links/history.gif" alt="history.gif (3782 bytes)" border="0" width="194" height="29"></a></p>
    
        <p align="left"><a routerLink=""><img src="assets/images/links/photos.gif" alt="photos.gif (2421 bytes)" border="0" width="194" height="29"></a></p>
    
        <p align="left"><a routerLink=""><img src="assets/images/links/forum.gif" alt="forum.gif (2345 bytes)" border="0" width="194" height="29"></a></p>
    
        <p align="left"><a routerLink="/training"><img src="assets/images/links/training.gif" alt="training.gif (2672 bytes)" border="0" width="194" height="29"></a></p>
    
        <p align="left"><a routerLink=""><img src="assets/images/links/curriculum.gif" alt="curriculum.gif (3013 bytes)" border="0" width="194" height="29"></a></p>
    
        <p align="left"><a routerLink="/links"><img src="assets/images/links/links.gif" alt="links.gif (2053 bytes)" border="0" width="194" height="29"></a></p>
    
        <p align="left"><a href="mailto:sifu@kenpokicks.com"><img src="assets/images/links/contact.gif" alt="contact_us.gif (3313 bytes)" border="0" width="194" height="29"></a> </p>
    
    
        <p>&nbsp;&nbsp;&nbsp;</td>
        <td width="643" height="704"><p align="center"><img src="assets/images/amtslogonew.jpg" alt="amtslogo.gif (90311 bytes)" width="643" height="704"></td>
      </tr>
    </table>
    
    <p align="center"><font color="red">There have been 162107 visitors.</font></p>
    <p align="center"><font color="black"><small>Email <a href="mailto:sifu@kenpokicks.com">webmaster@kenpokicks.com</a>
     for technical issues.</small></font></p>
    </div>
  </div>