<!-- This flex container takes the full height -->
<div class="d-flex flex-column h-100">
  <ng-container *ngIf="route != '/home'">
    <app-header></app-header>
  </ng-container>
  <!-- The main area does not shrink, 'pushing down' the footer -->
  <main class="flex-shrink-0">
    <!-- This will render the routes -->
    <router-outlet></router-outlet>
  </main>
  <!-- This keeps the footer down if the main content does not fill up the space -->
  <ng-container *ngIf="route != '/home'">
    <footer class="mt-auto">
      <app-footer></app-footer>
    </footer>
  </ng-container>
</div>
